openapi: 3.1.0
info:
  version: 1.0.0
  title: Allstate API
  description: A sample API to illustrate OpenAPI concepts
paths:
  /list:
    get:
      description: Returns a list of stuff              
      responses:
        '200':
          description: Successful response
